*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: Moul;
    src:url(/font/Moul/Moul-Regular.ttf);
}

@font-face{
    font-family: Titan;
    src:url(/font/Titan/TitanOne-Regular.ttf);
}

body{
    color: black;
}
.main{
    color: black;
    width: 100%;
    height: 1000px;
    position: relative;   
}

.ruler::before{
    width: 100%;
    height: 3px;
    background: #007cc6;
    position: absolute;
    top: 125px;
    content: "";
}

.ruler::after{
    width: 100%;
    height: 3px;
    background: #007cc6;
    position: absolute;
    top: 225px;
    content: "";
}

.header{
    width: 100%;
    height: 225px;
    /* background-color: black; */
}
 .logo{
    width: 70%;
    height: 125px;
    margin: auto;
    /* background-color: blue; */
    display: flex;
}
.logo img{
    width: 10%;
    height: 100%;
}

.title_logo h4{
    /* padding: 0px 20px; */
    margin: 25px 20px;
    font-family: Moul, Titan;
    color: #007cc6;
    font-size: 20px;
}

.title{
    width: 70%;
    height: 100px;
    margin: auto;
    /* background-color: rgb(100, 156, 35); */
    text-align: justify;
}

.title h3{
    text-align: center;
    color: #007cc6;
    padding: 5px 0px;
}

.title p{
    font-size: 15px;
}

.container-fluid{
    height: 650px;
    /* background-color: blue; */
    margin: 25px;
    width: 80%;
} 

.footer{
    position: absolute;
    width: 100%;
    height: 45px;
    background: #007cc6;
    color: #ffffff;
    bottom: 0px;
}

.footer p{
    text-align: right;
    padding: 8px;
    font-size: 20px;
}
.menu{
    width: 100%;
    height: 38px;
}
.menu nav ul li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.menu nav ul li a{
    text-decoration: none;
    color: #ffffff;
    background: gray;
    padding: 5px 10px;
    font-size: 20px;
}

.border_form{
    width: 100%;
    height: 611px;
    border: 2px solid #007cc6;
}

.form{
    width: 100%;
    height: 92%;
    margin: 20px 0px;  
}
.form_left{
    width: 60%;
    height: 100%;
    border-right: 3px solid #007cc6;
    float: left;
    padding: 10px 20px;
}
.form_right{
    width: 40%;
    height: 100%;
    /* background-color: red; */
    float: right;
}

.main_budget_reoprt{
    width: 90%;
    height: 100%;
    /* background-color: rebeccapurple; */
    margin: auto;
    color: #007cc6;
}

.main_budget_reoprt h4{
    text-align: center;
}

.budget_report{
    border: 1px solid gray;
}

.budget_report ul li{
    list-style-type: none;
    font-size: 20px;
    padding: 5px 20px;
    color: #000000;
}

.input_field{
    display: flex;
}

.input_field span{
    padding: 10px 10px;
}

.input_text input{
    padding: 0px 10px;
    width: 70%;
    height: 50px;
    margin-bottom: 10px;
}

.input_field label{
    width: 100%;
    font-size: 20px;
}
.input_field label span{
    color: #007cc6;
    font-size: 25px;
}
.custom_select{
    width: 100%;
    height: 50px;
}

.custom_select select{
    padding: 0px 0px;
    width: 80%;
    font-size: 20px;
    /* height: 100%; */
}

.input_submit{
    width: 50%;
    height: 40px;
    margin: auto;
    background-color: red;
}

.input_submit button{
    width: 100%;
    height: 100%;
    font-size: 20px;
}



@media only screen and (max-width: 1024px){
    .logo img{
        width: 20%;
        height: 100%;
    }
    .title{
        width: 90%;
    }
    
    .title h3{
        font-size: 20px;
    }
    
    .title p{
        font-size: 14px;
    }

    .input_field label{
        width: 100%;
        font-size: 13px;
    }
    .input_field select{
        width: 100%;
        padding: 5px 5px;
        font-size: 15px;
    }
    .input_field label span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px){
    .logo{
        width: 95%;
        height: 90px;
        margin: auto;
    }
    .logo img{
        width: 20%;
        height: 100%;
    }
    .ruler::before{
        width: 100%;
        height: 3px;
        background: #007cc6;
        position: absolute;
        top: 90px;
        content: "";
    }

    .title_logo h4{
        font-size: 12px;
        margin: 20px 10px;
    }
    .title{
        width: 90%;
    }
    
    .title h3{
        font-size: 20px;
    }
    
    .title p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 375px){
    
    .logo{
        width: 95%;
        height: 90px;
        margin: auto;
    }
    .logo img{
        width: 20%;
        height: 100%;
    }
    .ruler::before{
        width: 100%;
        height: 3px;
        background: #007cc6;
        position: absolute;
        top: 90px;
        content: "";
    }

    .title_logo h4{
        font-size: 12px;
        margin: 20px 10px;
    }

    .title{
        width: 90%;
    }
    
    .title h3{
        font-size: 20px;
    }
    
    .title p{
        font-size: 12px;
    }

    .footer p{
        padding: 15px 5px;
        font-size: 11px;
    }

    .form_left{
        margin: auto;
        width: 95%;
        float: none;
        border-right: none;
        border-bottom: 3px solid #007cc6;
        height: 80%;
    
    }
    .form_right{
        width: 100%;
        float: none;
        height: 20%;
    }

    .main_budget_reoprt{
        width: 97%;
    }

    .border_form{
        height: 1150px;
        /* width: 100%; */
    }
    .form{
        height: 100%;
    }
    .main{
        height: 1500px;
    }
     .footer{
         position: absolute;
         bottom: 0px;
     }

     .input_field{
         flex-direction: column;
         align-items: flex-start;
     }

    .input_field input{
        width: 80%;
        height: 40px;
    }
    .input_submit{
        margin-top: 30px;
    }
    .input_field span{
        padding: 10px 10px;
    }
    .input_field label span{
        font-size: 20px;
    }
     .input_field label{
        width: 100%;
        font-size: 15px;
    }
    .input_field select{
        width: 100%;
        padding: 5px 5px;
        font-size: 15px;
    }
    .menu{
        width: 100%;
        height: 38px;
    }
    .menu nav ul li{
        margin-right: 10px;
        margin-top: 11px;
    }
    
    .menu nav ul li a{
        padding: 5px 15px;
        font-size: 15px;
    }

    .budget_report ul li{
        font-size: 15px;
    }
    
}







